[Unit]
Description=Bascula Digital Pro - UI (Chromium kiosk)
After=graphical.target bascula-miniweb.service systemd-user-sessions.service network-online.target sound.target
Wants=graphical.target bascula-miniweb.service network-online.target sound.target
Requires=bascula-miniweb.service
Conflicts=getty@tty1.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/bascula/current
Environment=HOME=/home/pi
Environment=USER=pi
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
StandardOutput=journal
StandardError=journal
PermissionsStartOnly=yes
ExecStart=/usr/bin/startx /opt/bascula/current/scripts/start-kiosk.sh -- :0 vt1
Restart=always
RestartSec=2s

[Install]
WantedBy=multi-user.target
