[Unit]
Description=Bascula Digital Pro - UI (Chromium kiosk)
After=systemd-user-sessions.service network-online.target bascula-miniweb.service
Wants=network-online.target bascula-miniweb.service
Requires=bascula-miniweb.service
Conflicts=getty@tty1.service
StartLimitIntervalSec=0

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/opt/bascula/current
Environment=HOME=/home/pi
Environment=USER=pi
Environment=DISPLAY=:0
Environment=XDG_RUNTIME_DIR=/run/user/1000
TTYPath=/dev/tty1
TTYReset=yes
TTYVHangup=yes
TTYVTDisallocate=yes
StandardInput=tty
StandardOutput=journal
StandardError=journal
PermissionsStartOnly=yes
ExecStartPre=-/usr/bin/chvt 1
ExecStart=/opt/bascula/current/scripts/start-kiosk-wrapper.sh
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
